    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="icons-home">
            <%= image_tag "beer.png", alt: "Have a beer" %>
            <h3>Have a cold one!</h3>
            <h4>It's super fun</h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="icons-home">
            <%= image_tag "heart.png", alt: "heart" %>
            <h3>Listen to your heart</h3>
            <h4>It makes you more human</h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="icons-home">
            <%= image_tag "globe.png", alt: "planet" %>
            <h3>Are you from this planet?</h3>
            <h4>so take me to your leader</h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="icons-home">
            <%= image_tag "dollar.png", alt: "Money" %>
            <h3>Gimme some money</h3>
            <h4>manney manney manney</h4>
          </div>
        </div>
      </div>
    </div>
