    <div class="center-block" id="newsletter-form">
      <h2>Get news from us!</h2>
      <h4>I mean, get news from the US</h4>
      <form action="#" class="form-inline">
        <input type="email" class="form-control">
        <input type="submit" value="Sign In" class="btn btn-primary">
      </form>
    </div>
